version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  manager:
    build:
      context: .
      dockerfile: ./docker/python/Dockerfile
    restart: unless-stopped
    depends_on:
      - db
    env_file:
      - .env
    environment:
      RUN_TESTS: "1"
    ports:
      - "8001:8000"

  # frontend:
  #   build: ./svelte
  #   restart: unless-stopped
  #   depends_on:
  #     - backend
  #   environment:
  #     VITE_BACKEND_URL: http://backend:8000
  #   ports:
  #     - "5173:5173"
  #   volumes:
  #     - ./frontend:/app
  #   command: npm run dev -- --host 0.0.0.0

volumes:
  db_data:

networks:
  default:
    name: shared-net
    external: "true"



